head
  title Poo Patrol
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  
body
  div.navbar-fixed
    nav
      .nav-wrapper.container
        a.brand-logo(href="#") Poo Patrol
        a.right.button-collapse(href='#', data-activates='slide-out')
          i.mdi-navigation-more-vert
        ul.right.hide-on-med-and-down
          li
            a(href="#") Stuff
          li
            a(href="#") Other stuff
        ul.side-nav(id="slide-out")
          li
            a(href="#") First Sidebar Link
          li
            a(href="#") Second Sidebar Link
      
  div
    {{> map}}
    
    div.notice
        | Double-click on map creates a marker<br>
        | Click on a marker to delete it


    
//    div.card
//      div(style="width: 100%").card-content.waves-effect
//        span.card-title Trains
//        p Blurb about train
template(name="map")
    div.map(id="map")
    
